.container{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 0 24px;
}
.titulo{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 10px;
}
